@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

@brand-primary: #48befe;
@brand-danger: #fe4848;
@brand-warning: #fea648;
@brand-success: #00f773;

@brand-primary-light: #d5effe;
@brand-primary-dark: #0b7ba9;

@text-color: #1d1d1b;
@yolk: #ffdb01;
@logo-color: #ffdb01;

@phone: ~"(max-width: 479px)";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: @brand-primary;
  color: @text-color;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.logo {
  margin: 15px auto 40px;

  @media @phone {
    width: 200px;
  }
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.og-avatar {
  max-width: 300px;
  margin: 0 auto;
  min-height: 312px;

  @media @phone {
    max-width: 200px;
    padding-top: 40px;
    min-height: 249px;
  }
}
.og-status {
  width: 500px;
  max-width: 100%;
  margin: 40px auto 20px;
  display: flex;
}
.og-status-face {
  width: 40px;
  padding-top: 10px;

  &:first-child {
    padding-right: 10px;
    text-align: right;
  }
  &:last-child {
    padding-left: 10px;
    text-align: left;
  }
}
.og-status-bar {
  height: 46px;
  border: 5px solid black;
  border-radius: 23px;
  background: white;
  overflow: hidden;
  flex: 1;
}
.og-status-bar-progress {
  height: 100%;
  background: @brand-danger;
  position: relative;
  transition: all 1s ease-in-out;
  &.progress-neutral {background: @brand-warning;}
  &.progress-happy {background: @brand-success;}

  &:before {
    content: '';
    position: absolute;
    top: 4px;
    right: 10%;
    margin-right: 15px;
    width: 30%;
    height: 10px;
    border-radius: 5px;
    background: rgba(255,255,255, 0.6);
  }
  &:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 10%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgba(255,255,255, 0.6);
  }
}
.og-character {
  position: relative;
}
.og-thought {
  position: absolute;
  top: 0;
  left: 50%;
  width: 120px;
  margin-left: 80px;
  animation: bob 2s ease-in-out infinite;

  @media @phone {
    margin-left: 50px;
  }
}
.og-thought-image {
  position: absolute;
  top: 20px;
  left: 45px;
  width: 45px;
}

@keyframes bob {
  50% {
    transform: translateY(-6px);
  }
}


.spinner {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: @brand-primary-dark;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


// EGG
.og-egg {
  position: relative;
  display: inline-block;
  margin: 20px auto;
}
.egg {
  width: 190px;
  margin: 0 auto;
  transform-origin: 50% 70% 0;
  animation: rock 2.2s infinite ease-in-out;
  position: relative;

  .happy & {
    animation: rock-happy 1.6s infinite ease-in-out;
  }
  .sad & {
    animation: rock 2.6s infinite ease-in-out;
  }
  .ill & {
    animation: rock-ill 4s infinite ease-in-out;
  }
  .angry & {
    animation: rock-angry 1s infinite ease-in-out;
  }
}
.yolk {
  width: 62%;
  height: 0;
  padding-bottom: 62%;
  display: block;
  border-radius: 50%;
  background: #ffdb01;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.shadow {
  position: absolute;
  top: 100%;
  margin-top: -7px;
  left: 0;
  right: 0;
  display: block;
  background: rgba(0,0,0,0.2);
  height: 14px;
  border-radius: 50%;
  animation: rock-shadow 2.2s infinite ease-in-out;

  .happy & {
    animation: rock-shadow 1.6s infinite ease-in-out;
  }
  .sad & {
    animation: rock-shadow 2.6s infinite ease-in-out;
  }
  .ill & {
    animation: rock-shadow 4s infinite ease-in-out;
  }
  .angry & {
    animation: rock-shadow 1s infinite ease-in-out;
  }
}

@-webkit-keyframes rock {
  0% { transform: rotate(-10deg) }
  50% { transform: rotate(10deg) }
  100% { transform: rotate(-10deg) }
}
@-webkit-keyframes rock-happy {
  0% { transform: rotate(-18deg) }
  50% { transform: rotate(18deg) }
  100% { transform: rotate(-18deg) }
}
@-webkit-keyframes rock-ill {
  0% { transform: rotate(-30deg) }
  50% { transform: rotate(30deg) }
  100% { transform: rotate(-30deg) }
}
@-webkit-keyframes rock-angry {
  0% { transform: rotate(-20deg) }
  50% { transform: rotate(20deg) }
  100% { transform: rotate(-20deg) }
}
@-webkit-keyframes rock-shadow {
  0% { transform: translateX(-5px) }
  50% { transform: translateX(5px) }
  100% { transform: translateX(-5px) }
}
